:root {
    // Main colors
    --background-color: white;
    --background-secondary: white;
    --secondary-color: #f0f1f3;
    --accent-color: #ffb703;

    // Text colors
    --main-text-color: #183153;
    --hover-text-color: #234779;

    // input
    --input-background-color: #fffeff;
    --input-hover-color: white;
}

[data-theme="dark"] {
    --background-color: #3c4042;
    --background-secondary: #202124;
    --secondary-color: #202124;
    --main-text-color: #e1e1e1;
    --hover-text-color: #cecece;
    --input-background-color: #232323;
    --input-hover-color: #303030;
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
}

.accentColor {
    color: var(--accent-color);
}
